---
layout: home
---

<div class="home">

  <div class="posts">
    <!-- 按 date 重新排序 -->
    {% assign sorted_notes = site.notes | sort:"date" %}
    <!-- 按 date 倒序遍历 -->
    {% for note in sorted_notes reversed %}
      <!-- 避免输出草稿笔记 -->
      {% unless note.draft == true %}
        <div class="post">
          <p class="post-meta">{{ note.date | date: "%Y 年 %m 月 %d 日" }}</p>
          <a href="{{ note.url | prepend: site.baseurl }}" class="post-link">
            <h3 class="h2 post-title">{{ note.reader-title }}</h3>
          </a>
          <p class="post-summary">
            {% if note.summary %}
              {{ note.summary }}
            {% else %}
              {% assign truncatedContent = '' %}
              {% assign paragraphs = note.content | split:'</p>' %}
              {% for paragraph in paragraphs limit:1 %}
                {{ truncatedContent | append: paragraph }}
                {{ truncatedContent | append: '</p>' }}
              {% endfor %}
            {% endif %}
          </p>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>
