textarea {
  resize:none;
  overflow-y:auto;
  overflow-x:hidden;
  width:88%;
  height:88%;
  display:block;
  margin:0 auto;
}

.container {
  width:90%;
  height:90%;
  border-top:1px solid silver;
  border-bottom:1px solid silver;
  margin:0 auto;
}

.input-pane {
  width:45%;
  height:53%;
  float:left;
  border-right:1px solid silver;
  padding:20px;
}

.output-pane {
  width:45%;
  height:53%;
  float:left;
  padding:20px;
}

.pipe-pane {
  width:100%;
  height:15%;
  border-top:1px solid silver;
}

.proc-pane {
  width:100%;
  height:30%;
  padding:1%;
  border-top:1px solid silver;
}

.spacer {
  clear:both;
}
