#profile-img-frame {
  float:left;
  margin-right:15px;
}

#profile-img {
  width:80px;
  height:80px;
  border-radius:20%;
}

#site-banner {
  height:80px;
  display:table-cell;
  vertical-align:middle;
}

.float-stopper {
  clear:both;
}
