body, html {
  height:100%;
  font-family:'Open Sans', sans-serif;
  line-height:1.5em;
  font-weight:300;
  background-color:#FAFAFA;
  text-rendering:geometricPrecision;
  margin:0;
  padding:0;
}
.wrapper {
  height:100%;
  position:relative;
}
#navigation {
  background-color:#F3F3F3;
  display:inline-block;
  border-right:1px solid #EAEAEA;
  padding-right:65px;
  padding-top:65px;
  padding-left:25px;
  position:relative;
  float:left;
  min-height:100%;
  max-width:180px
}
#content {
  float:left;
  display:inline-block;
  position:absolute;
  max-width:960px;
  padding:65px;
}
#navigation ul {
  margin-top:0;
  margin-bottom:0;
  padding-left:40px;
}
#navigation li {
  list-style-type:none;
}
#navigation a {
  text-decoration:none;
  color:gray;
}
#navigation strong {
  color:#4E9A06;
  font-weight:400;
}
#navigation a:hover {
  text-decoration:underline;
}
#content h1:nth-child(1) {
  margin-top:0;
}
h1,h2,h3,h4,h5,h6 {
  color:#4E9A06;
  font-weight:300;
}
#content a {
  color:#CE5C00;
}
#content a {
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
}
#content a:active {
  text-decoration: underline;
}
#content strike {
  color: grey;
}
#content u {
  text-decoration: none;
  background-color: yellow;
}
#content tt {
  color: #2e3436;
}
#content pre {
  color: #2e3436;
  margin-left: 20px;
}
.backlinks {
  color:gray;
}
hr.footnotes {
  width: 20%;
  margin-left: 0;
}
@media print{
  #navigation{
    background-color:#FFF;
  }
}
