body, html {
  height:100%;
  font-family:'Open Sans', sans-serif;
  line-height:1.5em;
  font-weight:300;
  background-color:#FAFAFA;
  text-rendering:geometricPrecision;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6 {
  color:#4E9A06;
  font-weight:300;
  margin:4% 0px 2% 0px;
}
h1 {
  line-height:150%;
}
h2 {
  line-height:140%;
}
.wrapper {
  height:100%;
  position:relative;
}
#navigation {
  background-color:#E4F4E0;
  display:inline-block;
  border-right:1px solid #EAEAEA;
  padding:5%;
  position:relative;
  float:right;
  min-height:120%;
  width:20%;
}
#content {
  float:left;
  display:inline-block;
  position:absolute;
  width:59%;
  padding:5%;
}
#navigation ul {
  padding:0px 5% 0px 5%;
  margin:4% 0px 2% 0px;
}
#navigation li {
  list-style-type:square;
}
#navigation a {
  text-decoration:none;
  color:gray;
}
#navigation strong {
  color:#4E9A06;
  font-weight:400;
}
#navigation a:hover {
  text-decoration:underline;
}
#content h1:nth-child(1) {
  margin-top:0;
}
#content p {
  line-height:180%;
  padding:2% 0px 1% 0px;
  margin:0px 0px 0px 0px;
}
#content a {
  color:#CE5C00;
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
}
#content a:active {
  text-decoration: underline;
}
#content ul {
  padding:0px 5% 0px 5%;
  margin:0px 0px 0px 0px;
}
#content strike {
  color: grey;
}
#content u {
  text-decoration: none;
  background-color: yellow;
}
#content tt {
  color: #2e3436;
}
#content pre {
  color: #2e3436;
  margin-left: 2.8%;
}
.backlinks {
  color:gray;
}
hr.footnotes {
  width: 20%;
  margin-left: 0;
}
@media print{
  #navigation{
    background-color:#FFF;
  }
}
